<div class="d-flex justify-content-center" *ngIf="!loadComplete">
  <div class="spinner-border" role="status"></div>
</div>

<div style="width: 100%;" *ngIf="loadComplete">

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

  <table class="table table-striped" style="width: 100%;">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox" (click)="qts.toggleAll()" [checked]="qts.isAllSelected() ? 'checked' : ''" /></th>
        <th scope="col" (sort)="onSort($event)" [sortable]="propName('path')">Path</th>
        <ng-container *ngIf="fullScreenMode">
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('lastFetchDate')">Last Fetched</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('lastCommitDate')">Last Commit</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('untracked')" descending>Untracked<br/>Files</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('unstaged')" descending>Unstaged<br/>Changes</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('staged')" descending>Staged<br/>Changes</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('headDisplayName')" descending>Head</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('branches')" descending>Branches</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('branchesWithNoUpstream')" descending>No Upstream</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('branchesAheadOfUpstream')" descending>+ Upstream</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('branchesBehindUpstream')" descending>- Upstream</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('branchesAheadOfAndBehindUpstream')" descending>+/- Upstream</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('branchesWithNoParent')" descending>No Parent</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('branchesAheadOfParent')" descending>+ Parent</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('branchesBehindParent')" descending>- Parent</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('branchesAheadOfAndBehindParent')" descending>+/- Parent</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('stashes')" descending>Stashes</th>
          <th scope="col" (sort)="onSort($event)" [sortable]="propName('warnings')" descending><app-bootstrap-icon iconName="bi-exclamation-circle-fill" iconSize="1.5em"></app-bootstrap-icon></th>
          <th scope="col">
            <div ngbDropdown container="body">
              <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle [disabled]="qts.isAnySelected() ? '' : 'disabled'">Actions</button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="onBulkAction('fetch')">Fetch</button>
                <button ngbDropdownItem (click)="onBulkAction('setDefaultUpstream')">Set Default Upstream</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem>Reset To Pristine</button>
              </div>
            </div>
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let repository of repositories">
        <tr>
          <td><input type="checkbox" (click)="qts.toggleObject(repository)" [checked]="(qts.isSelected(repository) ? 'checked' : '')" /></td>
          <td><a href="#" (click)="onClick(repository, 'path')">{{ repository.path }}</a></td>
          <td *ngIf="repository.busy && fullScreenMode" colspan="18">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
          </td>
          <td *ngIf="!repository.busy && !repository.loaded && fullScreenMode" colspan="18">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
          </td>
          <ng-container *ngIf="repository.loaded && fullScreenMode">
            <td data-toggle="tooltip" data-html="true" title="{{ (repository.lastFetchDate || null) | timestamp:'full' }}"><a href="#" (click)="onClick(repository, 'lastFetchDate')">{{ (repository.lastFetchDate || null) | duration }}</a></td>
            <td data-toggle="tooltip" data-html="true" title="{{ (repository.lastCommitDate || null) | timestamp:'full' }}"><a href="#" (click)="onClick(repository, 'lastCommitDate')">{{ (repository.lastCommitDate || null) | timestamp:'compact' }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'untracked')">{{ repository.untracked | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'unstaged')">{{ repository.unstaged | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'staged')">{{ repository.staged | numeric }}</a></td>
            <td *ngIf="repository.headRefName && repository.headDisplayName"><a href="#" refdetails [repoPath]="repository.path" [refName]="repository.headRefName" [displayName]="repository.headDisplayName">{{ (repository.headDisplayName || '-') | truncate:30 }}</a></td>
            <td *ngIf="!(repository.headRefName && repository.headDisplayName)">-</td>
            <td><a href="#" (click)="onClick(repository, 'branches')">{{ repository.branches | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'branchesWithNoUpstream')">{{ repository.branchesWithNoUpstream | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'branchesAheadOfUpstream')">{{ repository.branchesAheadOfUpstream | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'branchesBehindUpstream')">{{ repository.branchesBehindUpstream | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'branchesAheadOfAndBehindUpstream')">{{ repository.branchesAheadOfAndBehindUpstream | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'branchesWithNoParent')">{{ repository.branchesWithNoParent | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'branchesAheadOfParent')">{{ repository.branchesAheadOfParent | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'branchesBehindParent')">{{ repository.branchesBehindParent | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'branchesAheadOfAndBehindParent')">{{ repository.branchesAheadOfAndBehindParent | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'stashes')">{{ repository.stashes | numeric }}</a></td>
            <td><a href="#" (click)="onClick(repository, 'warnings')">{{ repository.warnings | numeric }}</a></td>
            <td class="overflow-hidden">
              <div ngbDropdown container="body">
                <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem (click)="onAction(repository, 'fetch')">Fetch</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem>Reset To Pristine</button>
                </div>
              </div>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
