<table id="branches-table" class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><input type="checkbox" (click)="qts.toggleAll()" [checked]="qts.isAllSelected() ? 'checked' : ''" /></th>
    <th scope="col" (sort)="onSort($event)" [sortable]="propName('name')">Name</th>
    <th scope="col" (sort)="onSort($event)" [sortable]="propName('date')">Date</th>
    <th scope="col">Author</th>
    <th scope="col">Message</th>
    <th scope="col" (sort)="onSort($event)" [sortable]="propName('upstream')">Upstream</th>
    <th scope="col" (sort)="onSort($event)" [sortable]="propName('upstreamAhead')" descending>Ahead</th>
    <th scope="col" (sort)="onSort($event)" [sortable]="propName('upstreamBehind')" descending>Behind</th>
    <th scope="col">
      <div ngbDropdown container="body">
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle disabled="disabled">Actions</button>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let branch of branches">
    <tr>
      <td><input type="checkbox" (click)="qts.toggleObject(branch)" [checked]="(qts.isSelected(branch) ? 'checked' : '')" /></td>
      <td><a href="#" refdetails [repoPath]="repoPath" [refName]="branch.refName" [displayName]="branch.displayName">{{ branch.displayName }}</a></td>
      <td data-toggle="tooltip" data-html="true" title="{{ branch.commit.committer.timestamp | timestamp:'full' }}">{{ branch.commit.committer.timestamp | timestamp:'compact' }}</td>
      <td data-toggle="tooltip" data-html="true" title="{{ branch.commit.author.name }} &lt;{{ branch.commit.author.emailAddress }}&gt;">{{ branch.commit.author.name }}</td>
      <td data-toggle="tooltip" data-html="true" title="{{ branch.commit.message }}">{{ branch.commit.subject }}</td>
      <td *ngIf="branch.upstream">
        <a href="#" refdetails [repoPath]="repoPath" [refName]="branch.upstream.refName" [displayName]="branch.upstream.displayName">{{ branch.upstream.displayName }}</a>
        <app-web-url-link [link]="branch.upstream.webUrl"></app-web-url-link>
      </td>
      <td *ngIf="!branch.upstream"><span class="badge badge-warning">No upstream</span></td>
      <ng-container [ngSwitch]="branch.upstreamDistance && branch.upstreamDistance.ahead > 0">
        <td *ngSwitchCase="true"><span class="badge badge-danger">{{ branch.upstreamDistance!.ahead }} Ahead</span></td>
        <td *ngSwitchDefault>-</td>
      </ng-container>
      <ng-container [ngSwitch]="branch.upstreamDistance && branch.upstreamDistance.behind > 0">
        <td *ngSwitchCase="true"><span class="badge badge-info">{{ branch.upstreamDistance!.behind }} Behind</span></td>
        <td *ngSwitchDefault>-</td>
      </ng-container>
      <td class="overflow-hidden">
        <div ngbDropdown container="body">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle disabled="disabled">Actions</button>
        </div>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
