<p>Tracked but not staged (changes may be LOST) :</p>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><input type="checkbox" (click)="qts.toggleAll()" [checked]="qts.isAllSelected() ? 'checked' : ''" /></th>
    <th scope="col">Status</th>
    <th scope="col">Path</th>
    <th scope="col">
      <div ngbDropdown container="body">
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle [disabled]="qts.isAnySelected() ? '' : 'disabled'">Actions</button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Stage Selected</button>
          <button ngbDropdownItem>Reset Selected</button>
        </div>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let unstagedFile of unstagedFiles">
    <tr>
      <td><input type="checkbox" (click)="qts.toggleObject(unstagedFile)" [checked]="(qts.isSelected(unstagedFile) ? 'checked' : '')" /></td>
      <td>
        <ng-container *ngFor="let status of unstagedFile.status" [ngSwitch]="status">
          <span *ngSwitchCase="'ADDED'" class="badge badge-success">New</span>
          <span *ngSwitchCase="'COPIED'" class="badge badge-success">Copied</span>
          <span *ngSwitchCase="'DELETED'" class="badge badge-danger">Deleted</span>
          <span *ngSwitchCase="'MODIFIED'" class="badge badge-primary">Changed</span>
          <span *ngSwitchCase="'TYPE_CHANGED'" class="badge badge-warning">Attributes Changed</span>
          <span *ngSwitchDefault class="badge badge-secondary">{{ status }}</span>
        </ng-container>
      </td>
      <td>{{ unstagedFile.path }}</td>
      <td class="overflow-hidden">
        <div ngbDropdown container="body">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Stage</button>
            <button ngbDropdownItem>Reset</button>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
