<div class="modal-header">
  <h4 class="modal-title">{{displayName}}</h4>
  <button class="btn btn-secondary btn-sm btn-gql-close close" (click)="closePanel()">
    <app-bootstrap-icon iconName="bi-x-circle-fill" iconSize="1.4em"></app-bootstrap-icon>
    Close
  </button>
</div>
<div class="modal-body">
  <div class="d-flex justify-content-center" *ngIf="!loadComplete">
    <div class="spinner-border" role="status"></div>
  </div>
  <div *ngIf="loadComplete && ref">
    <p>Name: {{refName}}</p>
    <p>URL: XXX_TODO_FIXME</p>
    <table id="commits-table" class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Author</th>
        <th scope="col">Message</th>
        <th scope="col">Refs</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let commit of ref.ancestors">
        <tr>
          <td data-toggle="tooltip" data-html="true" title="{{ commit.id }}"><a href="#" commitdetails [repoPath]="this.repoPath" [commitId]="commit.id">{{ commit.id.substring(0, 8) }}</a></td>
          <td data-toggle="tooltip" data-html="true" title="{{ commit.committer.timestamp | timestamp:'full' }}">{{ commit.committer.timestamp | timestamp:'compact' }}</td>
          <td data-toggle="tooltip" data-html="true" title="{{ commit.author.name }} &lt;{{ commit.author.emailAddress }}&gt;">{{ commit.author.name }}</td>
          <td data-toggle="tooltip" data-html="true" title="{{ commit.message }}">{{ commit.subject | truncate:120 }}</td>
          <td>
            <ng-container *ngFor="let refNote of commit.refNotes">
              <p *ngIf="!refNote.startsWith('origin/') && !refNote.startsWith('tag:')"><span class="badge badge-success">{{ refNote | truncate:40 }}</span></p>
              <p *ngIf="refNote.startsWith('origin/')"><span class="badge badge-info">{{ refNote | truncate:40 }}</span></p>
              <p *ngIf="refNote.startsWith('tag: ')"><span class="badge badge-secondary">{{ refNote.substring('tag: '.length) | truncate:40 }}</span></p>
            </ng-container>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer"></div>
