<div class="d-flex justify-content-center" *ngIf="!loadComplete">
  <div class="spinner-border" role="status"></div>
</div>

<div class="card" [hidden]="!loadComplete">
  <div class="card-header">
    <div ngbDropdown container="body">
      <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Fetch</button>
        <button ngbDropdownItem [disabled]="true">Synchronise</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem>Reset To Pristine</button>
      </div>
    </div>
    <button class="btn btn-primary btn-sm btn-gql-refresh" (click)="refreshRepository()">
      <app-bootstrap-icon iconName="bi-arrow-repeat" iconSize="1.4em"></app-bootstrap-icon>
      Refresh
    </button>
    <button class="btn btn-secondary btn-sm btn-gql-close" (click)="closePanel()">
      <app-bootstrap-icon iconName="bi-x-circle-fill" iconSize="1.4em"></app-bootstrap-icon>
      Close
    </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{repoPath}}</h5>
    <p class="card-text">Last fetched: (Fetch Now).</p>
    <ngb-accordion [closeOthers]="true" activeIds="panel-head" #panelAccordion>
      <ngb-panel id="panel-head" *ngIf="repoHead && repoHeadCommit">
        <ng-template ngbPanelTitle>
          <span><app-bootstrap-icon iconName="bi-geo-fill" iconSize="1.5em" style="margin-right: 0.75em;"></app-bootstrap-icon>{{repoHead.displayName}} - {{repoHeadCommit.subject}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="container">
              <div class="row">
                <div class="col">Head:</div>
                <div class="col-9">
                  <a href="#" refdetails [repoPath]="repoPath" [refName]="repoHead.refName" [displayName]="repoHead.displayName">{{repoHead.displayName}}</a>
                  (<a href="#" commitdetails [repoPath]="repoPath" [commitId]="repoHeadCommit.id">{{repoHeadCommit.id.substring(0, 8)}}</a>)
                </div>
              </div>
              <div class="row" *ngIf="repoHeadCommit.refNotes.length > 1">
                <div class="col">(Also) Head:</div>
                <div class="col-9">
                  <ul>
                    <ng-container *ngFor="let refNote of repoHeadCommit.refNotes">
                      <li *ngIf="refNote != repoHead.displayName">{{refNote}}</li>
                    </ng-container>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col">Author:</div>
                <div class="col-9">{{repoHeadCommit.author.name}} &lt;{{repoHeadCommit.author.emailAddress}}&gt; {{repoHeadCommit.author.timestamp | timestamp:'full'}}</div>
              </div>
              <div class="row">
                <div class="col">Committer:</div>
                <div class="col-9">{{repoHeadCommit.committer.name}} &lt;{{repoHeadCommit.committer.emailAddress}}&gt; {{repoHeadCommit.committer.timestamp | timestamp:'full'}}</div>
              </div>
              <div class="row">
                <div class="col">Message:</div>
                <div class="col-9" data-toggle="tooltip" data-html="true" title="{{ repoHeadCommit.message }}">{{repoHeadCommit.subject}}</div>
              </div>
            </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="panel-untracked" *ngIf="untrackedFiles.length">
        <ng-template ngbPanelTitle>
          <span><app-bootstrap-icon iconName="bi-cart-x-fill" iconSize="1.5em" style="margin-right: 0.75em;"></app-bootstrap-icon>{{ untrackedFiles.length }} Untracked File(s) :</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-repository-details-untracked [untrackedFiles]="untrackedFiles"></app-repository-details-untracked>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="panel-unstaged" *ngIf="repo && repo.workingDirectory && repo.workingDirectory.unstaged.length">
        <ng-template ngbPanelTitle>
          <span><app-bootstrap-icon iconName="bi-cart-x-fill" iconSize="1.5em" style="margin-right: 0.75em;"></app-bootstrap-icon>{{ repo.workingDirectory.unstaged.length }} Unstaged File(s) :</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-repository-details-unstaged [repo]="repo"></app-repository-details-unstaged>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="panel-staged" *ngIf="repo && repo.workingDirectory && repo.workingDirectory.staged.length">
        <ng-template ngbPanelTitle>
          <span><app-bootstrap-icon iconName="bi-cart-x-fill" iconSize="1.5em" style="margin-right: 0.75em;"></app-bootstrap-icon>{{ repo.workingDirectory.staged.length }} Staged File(s) :</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-repository-details-staged [repo]="repo"></app-repository-details-staged>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="panel-branches" *ngIf="repo">
        <ng-template ngbPanelTitle>
          <span><app-bootstrap-icon iconName="bi-bezier2" iconSize="1.5em" style="margin-right: 0.75em;"></app-bootstrap-icon>{{ repo.branches.length }} Branch(es) :</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-repository-details-branches [repo]="repo"></app-repository-details-branches>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="panel-stashes" *ngIf="repo && repo.stashes.length">
        <ng-template ngbPanelTitle>
          <span><app-bootstrap-icon iconName="bi-cart-x-fill" iconSize="1.5em" style="margin-right: 0.75em;"></app-bootstrap-icon>{{ repo.stashes.length }} Stash(es) :</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-repository-details-stashes [repo]="repo"></app-repository-details-stashes>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="panel-recent-commits" *ngIf="repo">
        <ng-template ngbPanelTitle>
          <span><app-bootstrap-icon iconName="bi-cart-x-fill" iconSize="1.5em" style="margin-right: 0.75em;"></app-bootstrap-icon>Recent Commmits :</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-repository-details-recent-commits [repo]="repo"></app-repository-details-recent-commits>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
